* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans";
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

h1 {
  font-size: 32px;
  font-weight: Bolder;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}
h3 {
  font-size: 18px;
  font-weight: 400;
}

p {
  color: #868a8a;
}
/* -----Header----------------------------- */
/* -----Logo header-----*/
header {
  height: 320px;
}

.header-box {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 25px;
  border-bottom: solid 1px #e9ebeb;
}

.header-box > img {
  height: 42px;
}

.restaurant-box {
  height: 257px;
  padding: 30px;
  display: flex;
}

/* -----Présentation restaurant-----*/

.restaurant-box > img {
  width: 350px;
  border-radius: 5px;
}

.text-box {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.text-box > p {
  font-size: 19px;
}

/* -----Main----------------------------- */
main {
  background-color: #f3f5f5;
  width: 100%;
}

main > .container {
  display: flex;
}
.left-box {
  /* background-color: red; */
  width: 70%;
  display: flex;
  flex-direction: column;
}
.right-box {
  width: 30%;
  /* background-color: blue; */
}

.categories {
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* overflow: hidden; */
  flex-wrap: wrap;
}
.meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.meal {
  height: 160px;
  width: 410px;
  padding: 15px;
  margin-bottom: 25px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.meal:hover {
  cursor: pointer;
}
.meal > img {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 5px;
}
.meal-text-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meal-descr {
  font-size: 0.9rem;
  height: 2.6rem;
  line-height: 1.3rem;
  text-overflow: ellipsis;

  overflow: hidden;
  text-overflow: ellipsis;
}

.cart {
  height: fit-content;
  width: 100%;
  margin-top: 30px;
  background-color: white;
  border-radius: 10px;
  position: sticky;
  top: 40px;
}

.cart > div {
  padding: 20px;
  height: 100%;
  width: 100%;
}

.cart-text-empty {
  height: fit-content;
  /* width: 100%; */
  padding: 20px;
  border-radius: 10px;
  cursor: not-allowed;
  background-color: #bac3c3;
  text-align: center;
}

.cart-text {
  height: fit-content;
  /* width: 100%; */
  padding: 20px;
  border-radius: 10px;

  background-color: #02cdbd;
  text-align: center;
  color: white;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart-meal-not-select {
  margin: 40px;
  text-align: center;
}

.cart-meal {
  margin: 30px 0;
}

.cart-meal-select {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.quantity-modif {
  display: flex;
  gap: 10px;
}

.quantity-modif > button {
  all: unset;
  color: #02cdbd;
}

.cart-detail {
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cart-detail-text {
  display: flex;

  justify-content: space-between;
}

.cart-detail-text > span {
  font-weight: bold;
  color: black;
}

.total-select {
  margin: 20px 0;
}
